<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ @SITE }}</title>

  <!-- CSS  -->
  <link href="{{ @UI . 'icons/material-icons.css' }}" rel="stylesheet">
  <link href="{{ @UI . 'css/materialize.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ @UI . 'css/style.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body class="main">


  <!--  Scripts-->
  <script src="{{ @UI . 'js/jquery.min.js' }}"></script>
  <script src="{{ @UI . 'js/jquery-ui.min.js' }}"></script>
  <script src="{{ @UI . 'js/materialize.js' }}"></script>
  <script src="{{ @UI . 'js/init.js' }}"></script>

  </body>
</html>
